/* General styles */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Droid Sans Mono", sans-serif;
  color: #111;
}

a:link, a:visited, .underline {
  color: #4d4d4d;
}

.underline {
  text-decoration: underline;
}

.capitalize {
  text-transform: capitalize;
}

a:hover, a:active, .underline:hover {
  color: #4d4d4d;
  text-decoration: none;
}

button {
  display: block;
  margin: 15px auto;
  background-color: #FFCC00;
  cursor: hand;
  cursor: pointer;
  vertical-align: top;
  font-size: 1.4em;
  font-family: "Droid Sans Mono", sans-serif;
  font-weight: bold;
  text-transform: capitalize;
  border: 1px solid #FFCC00;
  padding: 0.5em 1em;
}

.alert {
  display: block;
  text-align: center;
  font-size: 0.9em;
  padding: 0 20px;
}

.success {
  color: green;
}

.error {
  color: red;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.button-search, .header-button-search {
  height: 42px;
  display: inline-block;
  margin: 0 0 0 0.5em;
  font-size: 0.6em;
}

.header-button-search {
  margin-top: 7px;
}

i {
  font-size: 2em;
  vertical-align: middle;
}

textarea {
  border-top: solid 2px #888888;
  border-left: solid 2px #888888;
  border-right: solid 2px #eee;
  border-bottom: solid 2px #eee;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

.header {
  text-align: center;
  min-height: 57px;
  line-height: 57px;
  background-color: #fafafa;
}

.header-title {
  display: inline;
  padding: 0;
  font-size: 1.2em;
}

.header-link {
  text-decoration: none;
}

.header-menu {
  font-size: 0.8em;
  margin: 0;
}

.header-menu, .footer-menu {
  padding: 0;
  list-style: none;
}

.header__search-box {
  background-color: white;
  display: block;
  margin: 0;
  padding: 10px 0 0 0;
}

.content, .content-search, .footer {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

.content, .content-search {
  margin-top: 40px;
  padding-bottom: 100px;
}

.content-search {
  margin-top: 20px;
}

.content-title {
  font-size: 1em;
  margin-top: 30px;
}

.content-subtitle {
  font-size: 1.1em;
  margin-top: 30px;
}

.tagline {
  margin: 50px 0 40px 0;
  font-size: 1.2em;
  text-align: center;
}

.latest-posts {
  padding: 0;
  list-style: none;
  font-size: 0.8em;
}

.latest-posts-item {
  line-height: 1.8em;
}

.avatar-list-item {
  margin: 0;
  line-height: 36px;
}

.avatar-list-image {
  height: 36px;
  vertical-align: top;
}

.cursor {
  cursor: pointer;
  cursor: hand;
}

.before-footer {
  margin-bottom: 50px;
  display: block;
  clear: both;
}

/* Footer*/

.footer {
  position: absolute;
  bottom:0;
  left:0;
  right: 0;
  height: 100px;
  font-size: 0.8em;
}

.footer-menu-item {
  display: inline-block;
  line-height: 25px;
  margin: 0 15px;
}

.footer-menu-link {
  display: inline-block;
}

.footer-extra-menu {
  display: inline-block;
}

/* Login, Contact, Confirm and Signup pages */

.form {
  max-width: 23.40em;
  margin: 0;
  display: inline-block;
  font-size: 0.7em;
}

.login-form {
  width: 25.5em;
  max-width: 25.5em;
  margin: 0 0 20px 0;
}

.confirm-form {
  width: 27.4em;
  max-width: 27.4em;
  font-size: 0.6em;
}

.input, .textarea {
  width: 16em;
  max-width: 16em;
  padding: 0.3em;
  margin-bottom: 6px;
  font-size: 1.4em;
  font-family: "Droid Sans Mono", sans-serif;
  color: #111;
}

.textarea {
  min-height: 180px;
}

.login-input {
  width: 17.5em;
  max-width: 17.5em;
}

.confirm-input, .confirm-textarea {
  width: 18.5em;
  max-width: 18.5em;
  padding: 0.5em;
}

.countdown {
  font-size: 1.1em;
}

.login-label {
  margin: 0 25px 15px 0;
  display: inline-block;
  float: left;
}

.forgot-password {
  float: right;
}

.login-checkbox {
  width: auto;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

.confirm-image {
  display: block;
  vertical-align: top;
  margin: 0 auto 10px;
}

.confirm-button {
  font-size: 1.7em;
}

.card-image {
  display: inline;
}

.signup-text {
  font-size: 1.3em;
  text-align: left;
  padding: 0;
  margin: 0;
}

.signup-plans {
  width: 100%;
  min-height: 30px;
  margin: 15px 0;
  padding-left: 5px;
}

.credit-card {
  display: inline-block;
  margin-bottom: 10px;
}

.credit-cards {
  padding: 0;
  margin: 15px 0;
}

.credit-card-image {
  width: 37px;
}

.cvc {
  margin-right: 16px;
  width: 39px;
  float: left;
}

.short-input {
  width: 30px;
  float: left;
}

.expires_on {
  display: inline;
  margin: 0 8px;
  float: left;
  font-size: 1em;
  line-height: 40px;
}

.login-search, .sidebar-search {
  display: none;
}

/* Pricing page*/

.pricing-text {
  max-width: 550px;
  margin: 0 auto 20px;
  padding: 0 20px;
  font-size: 0.8em;
  text-align: left;
}

.plans {
  width: 16.5em;
  margin: 0 auto;
  display: inline-block;
}

.plan {
  margin: 0 0 10px 0;
  padding: 10px;
  display: block;
  text-align: left;
  background-color: #F1F1F1;
  text-decoration: none;
  font-weight: bold;
}

.plan:hover {
  background-color: #C3F1FF;
  color: #111;
}

.plan-price {
  float: right;
}

/* Search Results, My Applications, My Favorites and Company Dashboard pages */

.list {
  margin: 0 auto;
  padding: 0;
  width: 21em;
  list-style: none;
  font-size: 0.8em;
}

.list-title {
  font-size: 1.3em;
}

.payment-history {
  width: 23.3em;
}

.company-dashboard-title {
  float: left;
  text-align: left;
  margin-top: 0;
  text-transform: capitalize;
}

.delete {
  display: block;
  margin-top: 40px;
  font-size: 1.5em;
}

.item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 30px;
  padding-bottom: 10px;
}

.item:last-child {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0;
}

.item-header {
  background-color: #fff;
  text-align: left;
  line-height: 1em;
  margin: 0;
  padding: 0;
}

.item-title, .item-subtitle, .item-text {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

.item-title {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 1.2em;
  line-height: 1.2em;
}

.item-subtitle {
  font-size: 1em;
  line-height: 1.9em;
  text-align: left;
  clear: both;
}

.item-company-logo {
  display: inline-block;
  width: 50px;
  margin-right: 10px;
  vertical-align: top;
}

.item-text {
  max-width: 550px;
  margin: 0 auto 20px;
  padding: 0;
  text-align: left;
  margin-top: 10px;
  font-size: 0.9em;
  clear: both;
  line-height: 1.7em;
}

.posts-found {
  margin: 0 0 20px 0;
  font-size: 1.1em;
}

.applications-menu-pipeline {
  display: none;
}

.post-control {
  margin: 20px 0;
  text-align: right;
  line-height: 40px;
  font-size: 0.97em;
}

.post-control-link {
  text-decoration: none;
  color: #111;
  margin: 0;
}

.post-control-icon {
  float: none;
  margin: 0 3px 0 5px;
  vertical-align: middle;
  color: #ccc;
}

.edit-post {
  display: none;
}

.applied, .favorited, .published {
  cursor: pointer;
}

.applied-icon, .published-icon {
  color: green;
  cursor: default;
}

.applied-text {
  color: #4d4d4d;
  font-style: italic;
  cursor: default;
}

.applied-on {
  float: right;
}

.favorited-icon {
  color: #FFCC00;
}

.favorited-text {
  color: #4d4d4d;
  font-style: italic;
}

.delete-icon {
  color: #111;
}

.see-applicants-link {
  text-transform: uppercase;
  margin: 10px 0;
}

.applicant-profile {
  height: 40px;
  display: block;
  text-align: left;
}

.applicant-image {
  width: 40px;
  display: inline-block;
  vertical-align: middle;
}

.applicant-name {
  display: inline-block;
  margin: 0;
  font-size: 1.1em;
}

.applicant-gh-link {
  display: block;
  text-align: left;
  margin: 15px 0;
  font-size: 1.1em;
}

.send-message-link {
  line-height: 1em;
  display: block;
  margin: 10px 0 0 0;
  text-decoration: underline;
  cursor: pointer;
}

.send-message-link:hover {
  text-decoration: none;
  color: #4d4d4d;
}

.send-message-form {
  width: 21em;
  margin: 10px auto 0;
  font-size: 0.7em;
  font-size: 1em;
  display: none;
}

.send-message-textarea {
  width: 20em;
  max-width: 20em;
  font-size: 1em;
  min-height: 140px;
}

.send-message-countdown {
  display: block;
  font-size: 0.9em;
  text-align: center;
}

.send-message-buttons {
  width: 100%;
  display: block;
  margin: 15px auto 25px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 25px;
}

.new-post-form .login-label {
  margin-bottom: 10px;
  font-size: 1.5em;
}

.new-post-form .login-checkbox {
  vertical-align: middle;
}

.edit-post-form, .edit-profile-form, .edit-payment-form {
  width: 27em;
  max-width: 27em;
  font-size: 0.8em;
}

.edit-payment-form {
  margin-top: 20px;
}

.edit-payment-form .signup-text {
  font-size: 1.6em;
}

.edit-payment-form .credit-card-image {
  width: 41px;
}

.edit-payment-form .credit-card {
  width: 27em;
  max-width: 27em;
}

.edit-payment-form .signup-input {
  width: 18.4em;
  max-width: 18.4em;
}

.edit-payment-form .cvc {
  width: 3em;
  max-width: 3em;
  margin-right: 1em;
}

.edit-payment-form .expires_on {
  font-size: 1.3em;
}

.profile-buttons {
  font-size: 1.6em;
}

.cancel {
  margin-right: 15px;
  text-decoration: underline;
  text-transform: capitalize;
}

.send-message-button, .save-note-button {
  font-size: 1em;
  display: inline-block;
}

.send-message-button {
  margin: 0;
}

.save-note-button {
  display: inline-block;
  margin: 0;
}

.message-sent {
  display: block;
  margin: 10px 0;
  line-height: 1.3em;
  text-align: right;
}

.message-sent-icon {
  font-size: 1.3em;
  vertical-align: top;
  color: green;
}

.profile-credit-card {
  width: 26em;
  max-width: 26em;
  display: inline-block;
  font-size: 0.8em;
}

.profile-card-image {
  width: 50px;
  clear: both;
  display: block;
  margin-bottom: 20px;
}

.profile-card-input {
  width: 17.4em;
  max-width: 17.4em;
}

.profile-card-cvc {
  display: inline-block;
  width: 2.4em;
  margin-right: 0.5em;
}

.profile-card-expires_on {
  font-size: 1.3em;
}

.profile-short-input {
  width: 2.4em;
}

.item-footer {
  margin-top: 15px;
}

/* Toogle menu */

#toggle {
  display: none;
}

.header-nav {
  display: none;
}

.header-nav-link {
  display: block;
}

.header-label:before {
  float: right;
  margin-right: 20px;
  content: "\f0d7";
  font-family: "FontAwesome";
  font-size: 1.5em;
  vertical-align: middle;
}

 .header-menu-item {
  padding: 0 20px;
  border-top: 1px dotted #ccc;
  cursor: pointer;
  cursor: hand;
  height: 35px;
  line-height: 35px;
}

.header-menu-item:hover, .header-menu-item:active {
  background: #eee;
}

.header-menu-checkbox:checked + label {
  color: #8c9198;
  cursor: pointer;
  cursor: hand;
}

.header-menu-checkbox:checked ~ .header-nav {
  display: block;
 }

/* Input tokens and tags */

#tags_wrapper {
  width: auto;
  margin: 0;
  display: inline-block;
}

#autocomplete {
  width: 12.88em;
  margin: -2px 0 0 0;
  padding: 0.3em 0.3em;
  position: absolute;
  display: none;
  border: solid 1px #cccccc;
  overflow-y: scroll;
  height: 200px;
  background-color: #fff;
  text-align: left;
  font-size: 1em;
}

.new-post-form {
  width: 27em;
  max-width: 27em;
  font-size: 0.6em;
}

.new-post-form #autocomplete {
  width: 15.98em;
  margin-top: -7px;
  font-size: 1.61em;
}

.edit-post-form #autocomplete {
  width: 15.1em;
  max-width: 15.1em;
  margin-top: -6px;
  font-size: 1.7em;
}

.new-post-form .input, .new-post-form .textarea {
  width: 17.1em;
  max-width: 17.1em;
  line-height: 1.5em;
  font-size: 1.5em;
}

.location {
  margin-bottom: 10px;
}

.remote {
  display: inline-block;
  margin-left: 10px;
}

#autocomplete li {
  list-style: none;
  padding: 0.3em;
  font-size: 0.9em;
  display: block;
  border: none;
}

.header #autocomplete li {
  padding: 0 0 0 5px;
}

.header__search-box li {
  line-height: 30px;
}

#autocomplete li:hover,
#autocomplete li:focus {
  background: #eee;
  color: #111;
  cursor: pointer;
  cursor: hand;
}

#highlight {
  background: #eee;
  color: #111;
}

#tokens {
  margin: 0;
  padding: 0.3em 0.5em;
  width: 12.40em;
  line-height: 28px;
  text-align: left;
  font-size: 1em;
  font-family: "Droid Sans Mono", sans-serif;
  border-top: solid 2px #9e9e9e;
  border-left: solid 2px #9e9e9e;
  border-right: solid 2px #eee;
  border-bottom: solid 2px #eee;
  background-color: #fff;
  cursor: text;
}

.new-post-form #tokens {
  width: 16.7em;
  max-width: 16.7em;
  margin-bottom: 5px;
  font-size: 1.5em;
  line-height: 23px;
}

.edit-post-form #tokens {
  width: 15.6em;
  max-width: 15.6em;
  margin-bottom: 4px;
  line-height: 1.5em;
  font-size: 1.6em;
}

.edit-post-form .input, .edit-post-form .textarea {
  width: 20em;
  max-width: 20em;
  font-size: 1.3em;
  line-height: 2em;
}

.edit-post-form .input-title, .edit-profile-form .input-name {
  width: 15em;
  max-width: 15em;
  font-size: 1.7em;
  line-height: 1.6em;
  font-weight: bold;
}

.edit-profile-form .input-name {
  font-size: 1.7em;
}

.edit-post-form .login-label, .edit-profile-form .password-label {
  font-size: 1.5em;
}

.edit-profile-form .password-label {
  display: block;
  text-align: left;
}

.edit-post-form .input-location, .edit-profile-form .input-profile {
  width: 17.1em;
  max-width: 18em;
  font-size: 1.5em;
  line-height: 1.6em;
}

.header #tokens {
  padding: 0.1em 0.5em;
}

#token-input {
  margin: 0;
  padding: 0;
  border: none;
}

#search-field {
  line-height: 24px;
  width: 200px;
  outline: none;
  border: none;
  margin: 0;
  padding: 0;
  font-size: 1em;
}

.new-post-form #search-field {
  line-height: 1.6em;
}

.edit-post-form #search-field {
  line-height: 1.5em;
}

::-webkit-input-placeholder {
  font-size: 0.9em;
  line-height: 1.5em;
  font-family: "Droid Sans Mono", sans-serif;
}

::-moz-placeholder {
  font-size: 0.9em;
  line-height: 1.5em;
  font-family: "Droid Sans Mono", sans-serif;
}  /*firefox 19+*/

:-ms-input-placeholder {
  font-size: 0.9em;
  line-height: 1.5em;
  font-family: "Droid Sans Mono", sans-serif;
} /* ie*/

input:-moz-placeholder {
  font-size: 0.9em;
  line-height: 1.5em;
  font-family: "Droid Sans Mono", sans-serif;
}

#tokens li {
  display: inline-block;
  border: none;
  padding: 0;
  margin: 0;
}

.header #tokens li {
  background-color: #fff;
  padding: 0;
  margin: 0;
}

#tokens #token-input {
  background-color: white;
  padding: 0;
  margin: 0;
}

.header__search-box #token-input {
  line-height: 35px;
}

.table {
  width: 23.3em;
  max-width: 23.3em;
  text-align: left;
  margin-bottom: 20px;
}

.payment-history-title {
  font-size: 1.2em;
  text-align: left;
}

.table-row {
  line-height: 2em;
  background-color: #FFCC00;
}

.table-th {
  padding: 3px;
}

.table-cell {
  padding: 3px;
  line-height: 2em;
  background-color: #f3f3f3;
}

@media only screen and (min-width: 480px)  {

  .latest-posts {
    font-size: 0.9em;
  }

  button {
    display: inline-block;
  }

  .delete {
    display: block;
    text-align: left;
    font-size: 1.5em;
  }

  #tokens {
    width: 22.35em;
    display: inline-block;
  }

  #autocomplete {
    width: 22.82em;
    margin-top: -1px;
  }

  .header #autocomplete {
    margin: -10px 0 0 0;
  }

  .header #autocomplete li {
    padding: 0 0 0 5px;
    margin: 0;
  }

  .new-post-form {
    width: 39em;
    max-width: 39em;
  }

  .edit-post-form {
    width: 41.5em;
    max-width: 41.5em;
  }

  .new-post-form #autocomplete {
    width: 23.4em;
  }

  .new-post-form #tokens {
    width: 24.7em;
    max-width: 24.7em;
  }

  .edit-post-form #tokens {
    width: 24.5em;
    max-width: 24.5em;
  }

  .new-post-form .input, .new-post-form .textarea {
    width: 25.1em;
    max-width: 25.1em;
    line-height: 1.5em;
    font-size: 1.5em;
  }

  .edit-post-form .input, .edit-post-form .textarea {
    width: 31em;
    max-width: 31em;
  }

  .edit-post-form .input-title {
    width: 23.4em;
    max-width: 23.4em;
  }

  .edit-post-form .input-location {
    width: 26.6em;
    max-width: 26.6em;
  }

  .edit-post-form #autocomplete {
    width: 23.5em;
    max-width: 23.5em;
    margin-top: -5px;
  }

  .edit-profile-form {
    width: 36em;
    max-width: 36em;
  }

  .edit-profile-form .input-name {
    width: 20.3em;
    max-width: 20.3em;
  }

  .edit-profile-form .input-profile {
    width: 23.1em;
    max-width: 23.1em;
  }

  .post-control {
    font-size: 1em;
  }

  .post-control-icon {
    margin: 0 7px 0 20px;
  }

  .status, .post-remote {
    display: inline;
    float: right;
    margin: 0;
  }

  .post-tags {
    display: block;
  }

  .post-info {
    width: 39.6em;
    display: inline-block;
    line-height: 1em;
    margin-bottom: 10px;
  }

  .company-info {
    display: inline-block;
  }

  .company-name, .company-url, .post-location {
    display: inline-block;
  }

  .login-form, .contact-form, .confirm-form {
    max-width: 35em;
  }

  .company-login {
    margin-top: 50px;
  }

  .signup-form {
    max-width: 29.40em;
  }

  .contact-input, .contact-textarea {
    width: 20em;
    max-width: 20em;
  }

  .confirm-input, .confirm-textarea {
    margin: 0 0 8px 0;
    width: 18.5em;
    max-width: 18.5em;
  }

  .confirm-button {
    font-size: 1.6em;
  }

  .signup-input {
    width: 20em;
    max-width: 20em;
  }

  .cvc {
    width: 39px;
    margin-right: 78px;
  }

  .credit-card-image {
    width: 49px;
  }

  .confirm-image {
    display: inline;
    margin: 0;
    vertical-align: top;
  }

  .plans {
    width: 26.5em;
    text-align: center;
  }

  .plan {
    width: 7.1em;
    display: inline-block;
    float: left;
    margin: 0 10px 0 0;
    text-align: center;
  }

  .plan:last-child {
    margin: 0;
  }

  .plan-title, .plan-posts, .plan-price {
    display: block;
    float: none;
    margin: 15px 0;
  }

  .list {
    margin: 20px auto 0;
    width: 33em;
  }

  .applications-menu-pipeline {
    display: inline-block;
  }

  .applications-menu-breakline {
    display: none;
  }

  .send-message-form {
    width: 33em;
  }

  .send-message-textarea {
    width: 32.4em;
    max-width: 32.4em;
    min-height: 105px;
  }

  .send-message-buttons {
    display: inline-block;
    text-align: right;
  }

  .send-message-button {
    margin: 0;
    display: inline;
  }

  .profile-credit-card {
    width: 34em;
    max-width: 34em;
    display: block;
  }

  .profile-card-input {
    width: 23.3em;
    max-width: 23.3em;
  }

  .profile-short-input {
    width: 2.7em;
  }

  .profile-card-cvc {
    width: 3em;
    margin-right: 5.2em;
  }
  .table {
    width: 33.5em;
    max-width: 33.5em;
  }
}

@media only screen and (min-width: 960px)  {

  .header {
    text-align: center;
  }

  .header-label {
    display: none;
  }

  .header-title, .header-nav, .header-menu, .header-menu-item {
    display:  inline;
  }

  .header-menu {
    line-height: 57px;
  }

  .header-menu-item {
    border: none;
    margin-left: 1.5em;
  }

  .header__search-box, .search-box {
    display: inline;
    height: 57px;
    margin: 0 0 0 30px;
    padding: 0;
    background-color: #fafafa;
  }

  .search-box {
    background-color: #fff;
  }

  #search {
    display: none;
  }

  .header-link {
    display: inline;
  }

  .header-menu-item:hover, .header-menu-item:active {
    background: none;
  }

  .avatar-list-image {
    margin-top: -5px;
    height: 36px;
    vertical-align: middle;
  }

  .content {
    padding: 0 0 50px 0;
  }

  .content-search {
    margin-top: 40px;
  }

  .tagline {
    margin-top: 80px;
    font-size: 1.5em;
  }

  .latest-posts {
    font-size: 1em;
  }

  #tokens {
    width: 23.35em;
    display: inline-block;
  }

  #autocomplete {
    width: 23.80em;
  }

  #autocomplete li {
    line-height: 25px;
  }

  .edit-post-form {
    width: 56.2em;
    max-width: 56.2em;
  }

  .edit-post-form .input, .edit-post-form .textarea {
    width: 42.2em;
    max-width: 42.2em;
  }

  .edit-post-form .input-title {
    width: 32.1em;
    max-width: 32.1em;
  }

  .edit-post-form #tokens {
    width: 33.7em;
    max-width: 33.7em;
  }

  .edit-post-form .input-location {
    width: 36.5em;
    max-width: 36.5em;
  }

  .edit-post-form #autocomplete {
    width: 32.2em;
    max-width: 32.2em;
  }

  .header__search-box #autocomplete li {
    line-height: 30px;
  }

  .company-login {
    margin-top: 70px;
  }

  .login-form, .contact-form {
    width: 33.80em;
  }

  .login-input, .contact-input, .contact-textarea {
    width: 23.3em;
    max-width: 23.3em;
  }

  .login-label {
    margin-right: 158px;
    font-size: 1.1em;
  }

  .forgot_password {
    font-size: 1.1em;
    float: right;
  }

  .login-search, .sidebar-search {
    display: inline-block;
    float: right;
    text-align: left;
    font-size: 1.2em;
  }

  .sidebar-search {
    min-width: 15em;
    max-width: 15em;
  }

  .login-search-link {
    line-height: 30px;
  }

  .login-search .login-form {
    max-width: 25.4em;
    margin: 0 0 40px 0;
    display: inline-block;
    font-size: 0.7em;
  }

  .login-search .login-input {
    width: 17.2em;
    max-width: 17.2em;
    padding: 0.3em;
    margin-bottom: 6px;
    font-size: 1.4em;
    font-family: "Droid Sans Mono", sans-serif;
    color: #111;
  }

  .login-search .login-label {
    margin: 0 25px 15px 0;
    display: inline-block;
    float: left;
    font-size: 1.1em;
  }

  .login-search .forgot-password {
    line-height: 1.3em;
  }

  .login-search .login-checkbox {
    width: auto;
    margin: 0;
    padding: 0;
    vertical-align: bottom;
  }

  .confirm-form {
    width: 33em;
    max-width: 33em;
  }

  .confirm-input, .confirm-textarea {
    width: 22.5em;
    max-width: 22.5em;
  }

  .cvc {
    margin-right: 77px;
    width: 39px;
  }

  .short-input {
    width: 30px;
  }

  .two-cols {
    display: inline-block;
    margin: 0 auto;
    font-size: 0.8em;
    width: 900px;
  }

  .list {
    margin: 0;
    width: 45em;
    max-width: 45em;
    font-size: 1em;
    float: left;
  }

  .list-title {
    text-align: left;
    margin-top: 0;
  }

  .item-text {
    max-width: none;
  }

  .see-applicants-link {
    margin-bottom: 30px;
  }

  .company-plan-info {
    display: none;
  }

  .post-control {
    margin: 10px 0;
  }

  .send-message-form {
    width: 45em;
  }

  .send-message-textarea {
    width: 45em;
    max-width: 45em;
  }

  .item-footer {
    padding: 0;
  }

  .edit-profile-form {
    width: 47em;
    max-width: 47em;
  }

  .edit-profile-form .input-name {
    width: 26.7em;
    max-width: 26.7em;
  }

  .edit-profile-form .input-profile {
    width: 30.4em;
    max-width: 30.4em;
  }

  .payment-history-title {
    display: block;
    font-size: 1.3em;
    text-align: left;
  }

  .sidebar {
    width: 18em;
    float: right;
    display: inline-block;
    font-size: 1.2em;
  }

  .sidebar-title {
    display: inline-block;
    margin: 0 0 10px 10px;
    font-size: 1.1em;
  }

  .sidebar-link {
    margin: 10px 0;
    clear: both;
    display: block;
    text-align: left;
    font-size: 0.9em;
  }

  .sidebar-profile {
    height: 80px;
    display: block;
    text-align: left;
  }

  .sidebar-profile-link {
    margin: 0 0 30px 10px;
    display: inline;
    font-size: 0.9em;
  }

  .sidebar-profile-image {
    float: left;
  }

  .sidebar-plan-title {
    text-transform: capitalize;
  }

  .table {
    width: 45em;
    max-width: 45em;
  }

  .footer {
    height: 50px;
    padding: 2em 2em;
  }

  .footer-menu-item {
    margin-left: 0.4em;
    display: inline;
  }

  .footer-menu-link {
    display: inline;
  }

  .footer-extra-menu {
    display: inline-block;
  }
}
