/*body, h1, h2, h3, h4, h5, h6, p, input, ul, li, a {
  margin: 0;
  padding: 0;
}

body {
  padding: 0 2%;
  font-family: Arial, sans-serif;
  font-size: 1em;
  color: #4d4d4d;
  letter-spacing: 1px;
}

header h1 {
  font-size: 1.4em;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 10% 0;
}

header h1 a, header h1 a:hover {
  color: #2c3e50;
  text-decoration: none;
}

header h1 a span {
  color: #95a5a6;
}

nav ul li {
  font-size: 0.9em;
  margin: 5% 0;
}
nav a, nav a:visited {
  color: #ffaa4e;
  text-decoration: none;
}

p {
  margin: 5% 0;
}

a, a:visited {
  color: #4d4d4d;
  text-decoration: none;
}

a:hover, a:active {
  color: #4d4d4d;
  text-decoration: underline;
}

ul {
  list-style: none;
}*/

/*::-webkit-input-placeholder { font-style: italic; }*/
/*::-moz-placeholder { font-style: italic; } /* firefox 19+ */*/
/*:-ms-input-placeholder { font-style: italic; } /* ie */*/
/*input:-moz-placeholder { font-style: italic; }*/

/*h2 {
  font-size: 0.9em;
  margin: 8% 0;
}

button, a.button {
  display: block;
  margin: 5% auto;
  background-color: #66ccff;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  text-transform: uppercase;
  border: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  cursor: hand;
}

button {
  height: 35px;
  padding: 0 3%;
}

a.button {
  width: 60%;
  padding: 1% 3%;
  text-align: center;
  height: 27px;
  line-height: 27px;
}

a.button, a.button:visited {
  color: #fff;
  text-decoration: none;
}

a.button:hover, a.buttons:active {
  color: #fff;
}

input#checkbox {
  margin: 2% 2% 2% 0;
}

#avatar {
  display: none;
}*/

/* INPUT TOKENS */

/*#autocomplete {
  position: relative;
  display: none;
  width: 99%;
  border: solid 1px #cccccc;
  overflow-y: scroll;
  height: 200px;
}

#autocomplete li {
  list-style: none;
  margin: 2% 0;
  padding: 2%;
}

#autocomplete li:hover,
#autocomplete li:focus {
  background: #ffaa4e;
  color: #fff;
  cursor: pointer;
  cursor: hand;
}

#highlight {
  background: #ffaa4e;
  color: #fff;
}

#tokens {
  width: 95%;
  padding: 2%;
  overflow: hidden;
  border: solid 1px #cccccc;
  cursor: text;
}

#search-field {
  width: 300px;
  outline: none;
  border: none;
  margin: 0;
}

#tokens li {
  display: inline-block;
  background: #ffaa4e;
  color: #ffffff;
  font-weight: bold;
  font-size: 0.9em;
  border-radius: 3px;
}

#tokens li span {
  cursor: pointer;
  cursor: hand;
}

#tokens #token-input {
  background-color: white;
}
*/
/* GOOGLE PLACES AUTOCOMPLETE */

/*#searchTextField {
  width: 95%;
  min-height: 19px;
  margin: 0 0 5% 0;
  padding: 2%;
  border: 1px solid #ccc;
  outline: none;
}

@media only screen and (min-width: 300px) {
  h2 {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 481px) {
  // tablet styles go here
}

@media only screen and (min-width: 769px) {
  // desktop styles go here
}*/