/* GENERAL */

html, body {
  height: 100%;
}

body {
  font-family: "Droid Sans Mono", sans-serif;
  font-size: 0.9em;
}

.wrapper {
  min-height: 100%;
  position: relative;
}

#content {
   padding-bottom: 120px;
}

#home, #about, #pricing,
#help, #login, #contact,
#terms, #privacy-policy,
#new-post, #contact-applicant,
#company-edit, #subscription,
#payment-history,
#edit-payment-info,
#edit-post {
  margin: 0 auto;
  line-height: 1.8em;
  max-width: 600px;
}

 {
  margin: 0 auto;
  line-height: 1.8em;
  max-width: 600px;
}

#search, #company-dashboard,
#applicants-post, #my-applications {
  margin: 0 auto;
  max-width: 800px;
}

#home, header,
#footer-navigation,
#login, #contact,
#signup, #new-post,
#contact-applicant,
#company-edit,
#subscription,
#payment-history {
  text-align: center;
}

ul  {
  padding-left: 0;
}

li {
  display: inline;
  list-style: none;
}

.link-large {
  display: block;
  margin: 40px 0;
  font-size: 1.17em;
}

a, .link, .application-msg {
  color: #EB374B;
}

.link {
  text-decoration: underline;
  cursor: pointer;
}

.highlight-box {
  margin-bottom: 30px;
  background: #fafafa;
  border: solid 1px #dadada;
  border-radius: 5px;
  padding: 10px;
}

/* FORMS AND INPUT */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"]  {
  margin-bottom: 15px;
  height: 30px;
  width: 33em;
}

input[type="checkbox"] {
  display: inline;
}

textarea {
  height: 200px;
  width: 33em;
}

#search-box input {
  height: 40px;
}

#home #search-box {
  margin: 40px 0;
}

#login-form ul {
  padding: 0;
  text-align: left;
  margin: 0 auto;
  width: 25.75em;
}

#forgot-password-link {
  float: right;
}

button {
  height: 45px;
  background:  #EDCA45;
  outline: none;
  border: none;
}

#login-form button,
#contact-form button,
#contact-applicant button,
#edit-profile button,
#edit-subscription button,
#edit-payment button,
#edit-post-form button,
.btn-large {
  margin-top: 20px;
  width: 90px;
}

#search-box button {
  width: 45px;
  font-size: 1.8em;
  color: white;
}

.hide-form {
  display: none;
}

/* NOTICES */
#notices {
  text-align: center;
}

.success {
  color: green;
}

.error {
  color: red;
}

/* HEADER */
h1  {
  display: inline;
}

#tittel-link {
  margin-right: 70px;
  text-decoration: none;
}

#main-navigation a {
  color: #4d4d4d;
}

#main-navigation li {
  margin-right: 30px;
}

#gravatar-mini {
  display: none;
}

/* HOME */
#home-page h2 {
  margin-top: 60px;
}

#latest-posts {
  font-size: 1.1em;
}

#latest-posts li {
  display: list-item;
}

#latest-posts a {
  color: #4d4d4d;
}

/* LISTING ITEM (POST, APPLICATIONS ETC.)*/
.listing-item {
  min-height: 100px;
  margin-bottom: 20px;
  border-bottom: 1px solid #fafafa;
}

.listing-item img {
  float: left;
  margin-right: 20px;
}

.listing-item i {
  margin-right: 5px;
}

.message, .note, .bio {
  margin-top: 20px;
}

.description {
  margin: 0;
  line-height: 1.5em;
}

/* SIGNUP */
#signup form {
  text-align: right;
}

#signup {
  margin: 0 auto;
  line-height: 1.8em;
  max-width: 500px;
}

#credit-cards img, .card-icon {
  width: 48px;
}


/* Pricing */
.plan {
  margin: 0 0 10px 0;
  padding: 10px;
  display: block;
  text-align: left;
  background-color: #F1F1F1;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
}

.plan:hover {
  background-color: #C3F1FF;
  color: #111;
}

.plan-price {
  float: right;
}

/* HELP PAGE */
.help-menu li, .example-post li {
  display: list-item;
}

.help-item-title {
  font-weight: bold;
}

h4 {
  font-size: 1.05em;
  font-weight: 900;
}

.highlight-box li {
  margin-bottom: 5px;
}

/* PRIVACY */
#privacy-info-list li {
  display: list-item;
  list-style:  square;
}

/* COMPANY PROFILE*/
#company-profile {
  margin: 0 auto;
  line-height: 1.8em;
  max-width: 300px;
}

#company-profile li {
  display: list-item;
}

/* FOOTER */
.footer {
  position: absolute;
  bottom:0;
  left:0;
  right: 0;
  height: 120px;
}

#footer-navigation {
  margin-bottom: 20px;
}

.fa-twitter {
  font-size: 1.3em;
}

@media only screen and (min-width: 780px)  {
  header {
    margin: 50px 0;
  }
  .section-footer li {
    margin-left: 10px;
  }
  .section-footer {
  display: block;
  text-align: right;
}
  .toggle, .show-applicants {
    float: left;
  }
}

@media only screen and (min-width: 1200px)  {
  /* HEADER */
  .background-image {
    background: url('/img/punchgirls_large.png') left bottom no-repeat;
  }

  #gravatar-mini {
    display: inline;
    float: none;
    width: 25px;
  }

  #home #search-box {
    margin-top: 90px;
  }

  #search-box input {
    width: 385px;
  }

  input[type="text"],
  input[type="email"],
  input[type="url"],
  input[type="password"],
  textarea  {
    width: 35em;
  }

  .input-short {
    width: 5em;
  }

  #login-form ul {
    padding: 0;
    text-align: left;
    margin: 0 auto;
    width: 27.75em;
  }
}